.box--container {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login--container {
    width: 525px;
    height: 525px;
    margin-top: 2.5%;
    padding: 25px;
    padding-left: 60px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 40px;
    border: 3px solid  rgba(98, 200, 176, 0.28);
    background: rgba(98, 200, 176, 0.28);
    backdrop-filter: blur(0.5px);
    color: white;

}

label {
    font-size: 18px;
    margin-bottom: 15px;
}

.page--header {
    margin-bottom: 15px;
    font-size: 38px;
}

.page--input {
    margin-bottom: 15px;
}

.input--value {
    width: 480px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #bcbec0;;
    background: #fff;   
    font-size: 18px;

}

.input--value::placeholder{
    font-size: 18px;
   
}

.button--signIn {
    width: 480px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
    background: grey;
    transition: all 0.1s ease;
}

.button--signIn:hover {
    background: rgb(100, 204, 100);
}

@media (max-width: 900px){
    .login--container {
        max-width: 300px;
        max-height: 450px;
    }

    .page--input {
        max-width:250px ;
    }

    .input--value {
        max-width: 250px;
    }

    .button--signIn {
        max-width: 250px;
    }


}